// state management
import {useState, useEffect} from 'react';

// demo information
import { DemoInfo, NotSupported } from "components";

// api
import { isSupported } from "web-apis/{{path}}";

// demo info by id
import { getDemoById } from 'utils/data/data-access';

// Component that Renders the Demo UI
const ToRender = () => {
  return (
    <div className="flex-colums">
      
    </div>
  );
};

const {{pascalCase path}} = () => {
  const [loaded, setLoaded] = useState(false);
  const [demoInfo, setDemoInfo] = useState();

  // Get the demo id
  const id = "{{id}}";

  useEffect( () => {
    // find the demo details
    const thisDemo = getDemoById(id);
    setDemoInfo(thisDemo);
    setLoaded(true);
  },[id]);
  

  return (
    <>
    {
      loaded && (
      <div className="flex-colums">
        <DemoInfo info={demoInfo} />
        {isSupported() ? (
          <ToRender />
        ) : (
          <NotSupported canIUseURL={demoInfo.canIUseURL} />
        )}
      </div>)
    }
    </>
  );
};

export default {{pascalCase path}};
