import run, { hasSupport } from '../../apis/{{dashCase id}}';

function {{pascalCase id}}() {
  if (!hasSupport) {
    return <h1>Unsupported</h1>;
  }

  return (
    <div>
      <button onClick={run}>run demo</button>
    </div>
  );
}

export default {{pascalCase id}};
