@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0.5rem;
}

h2 {
  margin: 3px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #1d4ed8;
  border: none;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #098ee0;
}

form {
  padding: 10px;
  background: #ebebeb;
  margin: 10px;
}

input[type='text'] {
  height: 40px;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

code {
  margin: 20px auto auto 20px;
  color: #ec1c76;
  background-color: #ebebeb;
  padding: 2px;
  border-radius: 5px;
}

:picture-in-picture {
  box-shadow: 0 0 0 5px #0081ff;
  background-color: #565652;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.clear-icon {
  position: absolute;
  top: 25px;
  font-size: 20px;
  right: 10px;
  cursor: pointer;
}

.searchbox {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  background: rgb(234, 239, 241);
  border: 1px solid rgb(47, 47, 47);
  border-radius: 3px;
  width: 30vw;
  min-width: 240px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.no-demo {
  display: block;
  font-size: 30px;
  word-break: break-word;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px;
  background-color: #ebebeb;
  margin-top: 10%;
}

.ic-demo-btns {
  margin: 5px;
}

.payment-msg .success-msg {
  border: 1px solid green;
  border-radius: 5px;
  background-color: greenyellow;
  font-size: 25px;
  padding: 10px;
}

#network-info-main LI {
  padding: 5px;
  font-size: 25px;
}

@media only screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 1) {
  .dnd-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hide {
  display: none;
}

.box.over {
  border: dashed 3px rgb(255, 0, 191);
}

.demos .btns {
  display: flex;
  margin-bottom: 20px;
}

#textFileContents,
#imagePreview {
  width: 90%;
  margin: auto;
}

.hide {
  display: none;
}

.text-red-600 {
  color: #dc2626;
}
